*{
    background-color: black;
}
.buttons{
    background-color: mediumaquamarine;
    margin: auto;
    height: 40%;
    width: 40%;
    float: center;
}

.button{
    background-color: darkturquoise;
    height: 80%;
    width: 40%;
    margin: 10%;
}

p
{
    color: azure;
}
