*
{
    background-color: burlywood;
}

button
{
    color: blanchedalmond;
}

p
{
    background-color: azure;
}

h2
{
    color: blanchedalmond;
}

.buttons{
    background-color: mediumaquamarine;
    margin: auto;
    height: 40%;
    width: 40%;
    float: center;
}

.button{
    background-color: darkturquoise;
    height: 80%;
    width: 40%;
    margin: 10%;
}

.linkbox
{
    display: table-cell;
    vertical-align: middle;
    color: blanchedalmond;
}

.tb
{
    display: table;
    width: 100%;
}

#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}


