<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="options">
        <form action="link" method="POST">
            <div class="button">
                <input class="choice" type="submit" value="Link">
            </div>
        </form>
        <form action="file" method="POST">
            <div class="button">
                <input class="choice" type="submit" value="File">
            </div>
        </form>
    </div>
</body>
</html>